<h3>Projects</h3>

<ul>
  <% @projects.each do |project| %>
    <li>
      <strong><%= project.name %></strong>
      <p><%= project.description %></p>
      <p><em>Target pledge amount</em>: <%= number_to_currency(project.target_pledge_amount) %></p>
    </li>
  <% end %>
</ul>