@import "colors";

.form {
  max-width: 20rem;
  padding: 0.5rem;
  font: 0.8rem 'Montserrat', sans-serif;
  label {
    margin: 1.5rem 0 0.5rem 0;
    padding: 0;
    display: block;
    font-weight: 600;
  }
  input, textarea {
    border: 0.0625rem solid #bebebe;
    padding: 0.5rem;
  }
}

