@import "colors";

.form {
  max-width: 100%;
  padding: 1rem;
  font: 0.8rem 'Montserrat', sans-serif;
  box-sizing: border-box;
  label {
    margin: 1.5rem 0 0.5rem 0;
    padding: 0;
    display: block;
    font-weight: 600;
  }
  input, textarea {
    border: 0.0625rem solid #bebebe;
    padding: 0.5rem;
    width: 100%;
    display: block;
    box-sizing: border-box;
  }
  textarea {
    height: 7rem;
  }
  select {
    border:0.0625rem solid #BEBEBE;
    margin:0;
    outline: none;
  }
}

.form-title {
  margin-top: 1rem;
  font-family: 'Ubuntu', sans-serif;
  color: $dark-water;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.25rem 1rem;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  input, a {
    border-radius: 0.5rem;
    width: 8rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.7rem;
  }
  input {
    border: 0;
    background-color: $dark-water;
    color: $cream;
    &:hover {
      background-color: darken($dark-water, 5%);
    }
  }
  a {
    background-color: $subtle-green;
    color: $cream;
    text-decoration: none;
    text-align: center;
    line-height: 2rem;
    &:hover {
      background-color: darken($subtle-green, 20%);
    }
  }
}

.field_with_errors {
  label {
    color: $error-red-dark;
  }
  input, textarea, select {
    background-color: $error-red-light;
    border: 0.0625rem solid $error-red-dark;
    outline: none;
  }
}

#errors {
  color: $error-red-dark;
  header {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  ul {
    li {
      list-style-type: circle;
      list-style-position: inside;
      padding: 0.5rem 0;
    }
  }
}

@media screen and (orientation: landscape) {
  .form-buttons {
    max-width: 17rem;
  }
}

@media screen and (min-width: 48rem) {
  .form {
    width: 30rem;
    & + .sidebar {
      padding-top: 3rem;
    }
  }

  .form-title {
    width: 100%;
  }

  .form-buttons {
    width: 17rem;
  }
}