@import "colors";

.form {
  max-width: 100%;
  padding: 0.5rem;
  font: 0.8rem 'Montserrat', sans-serif;
  box-sizing: border-box;
  label {
    margin: 1.5rem 0 0.5rem 0;
    padding: 0;
    display: block;
    font-weight: 600;
  }
  input, textarea {
    border: 0.0625rem solid #bebebe;
    padding: 0.5rem;
    width: 100%;
    display: block;
    box-sizing: border-box;
  }
  textarea {
    height: 7rem;
  }
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  input, a {
    border-radius: 0.5rem;
    width: 9rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  input {
    border: 0;
    background-color: $dark-water;
    color: $cream;
    &:hover {
      background-color: darken($dark-water, 5%);
    }
  }
  a {
    background-color: $subtle-green;
    color: $cream;
    text-decoration: none;
    text-align: center;
    line-height: 2rem;
    &:hover {
      background-color: darken($subtle-green, 20%);
    }
  }
}