@import url('https://fonts.googleapis.com/css?family=Unica+One|Ubuntu|Montserrat');
@import "colors";

.hero {
  background-color: $dark-water;
  background-image: image-url('bg_01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 5rem;
  background-blend-mode: lighten;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    padding: 2rem;
  }
}

#container {
  display: flex;
  flex-direction: column-reverse;
}

#content > h3 {
  background-color: $vibrant-green;
  color: $cream;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  margin: 0.25rem 0;    
}

.project-wrapper {
  background-color: $cream;
  padding: 1rem;
  & > header {
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    background-position: center center;
    border: 0.2rem solid #fff;
    position: relative;
  }
  h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    text-align: center;
    a {
      color: #fff;
      text-decoration: none;
    }     
  }
}

.project-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-top: 0.05rem solid #fff;
}

.project-description {
  font-family: 'Montserrat', serif;
  margin-top: 1rem;
}

#sidebar {
  background-color: $cool-forest;
  padding: 1rem 2rem;
  a {
    color: #fff;
    line-height: 2rem;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
  }
}





