@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Cabin+Sketch:700|Noto+Serif|Roboto|Unica+One');
@import "colors";

// font-family: 'Unica One', cursive;
// font-family: 'Roboto', sans-serif;
// font-family: 'Noto Serif', serif;
// font-family: 'Abril Fatface', cursive;
// font-family: 'Cabin Sketch', cursive;

body {
 font-family: 'Work Sans', sans-serif;
 font-weight: 300;
 background-color: lighten($cream, 50%);
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 900;
}

.hero {
  background-color: $dark-water;
  background-image: image-url('bg_01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: lighten;
  height: 90vh;
  display:flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-family: 'Noto Serif', cursive;
    color: #fff;
    font-size: 6rem;
    line-height: 4rem;
    text-align: center;
    padding: 2rem;
  }
}







