@import url('https://fonts.googleapis.com/css?family=Unica+One|buntu:400,500,700|Montserrat:400,500,600,800,900');
@import "colors";

html { 
  height:100%; 
}

body, main {
  font-family: 'Montserrat', serif;
  min-height:100%; 
  display: flex;
  flex-direction: column;
}

.hero {
  background-color: $dark-water;
  background-image: image-url('bg_01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 5rem;
  background-blend-mode: lighten;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-size: 2.8rem;
    line-height: 3.5rem;
    text-align: center;
    padding: 2rem;
  }
}

#content {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 5rem;
}

.projects-header {
  flex-basis: 100%;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
  background-color: $vibrant-green;
  color: $cream;
  font-weight: bold;
  font-size: 1.3rem;
  border-top: 0.2rem solid #fff;
}

.all-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-section-link {
  text-decoration: none;
  flex-grow: 1;
}

.project-wrapper {
  margin: 1rem 1rem 3rem 1rem;
  border: 0.0625rem solid #000;
  & > header {
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    background-position: center center;
    position: relative;
  }
  h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    a {
      color: #fff;
      text-decoration: none;
    }     
  }
}

.project-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-top: 0.05rem solid #fff;
}

.project-description {
  background-color: #fff;
  font-family: 'Montserrat', serif;
  padding: 1rem;
  font-size: 0.8rem;
  color: #000;
}

.sidebar {
  background-color: $cool-forest;
  padding: 1.5rem;
  border-top: 0.2rem solid #fff;
  nav ul {
    display: flex;
    justify-content: space-between;
  }
  a {
    color: #fff;
    font-size: 0.75rem;
    display: inline-block;
    border: 0.1rem solid #fff;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    background-color: darken($cool-forest, 10%);
  }
}

.main-footer {
  background-color: $dark-water;
  padding: 1.5rem;
  font-size: 0.75rem;
  color: $cream;
  font-family: 'Montserrat', serif;
  border-top: 0.2rem solid #fff;
  margin-top:auto;
}

.learn-more {
  text-transform: uppercase;
  text-align: right;
  color: $dark-water;
  padding: 1rem;
  font-size: 0.7rem;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.05rem;
}

.edit-project-title {
  margin-top: 1rem;
  font-family: 'Ubuntu', sans-serif;
  color: $dark-water;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem;
}

@media screen and (orientation:landscape) {
  .hero {
    background-position: center -2rem;
    h2 {
      font-size: 3.8rem;
      line-height: 2.5rem;
      margin-top: 2rem;
      font-weight: bold;
    }
  }

  .project-section-link {
    flex-grow: 0;
    flex-basis: 50%;
  }
}

@media screen and (min-width: 1024px) {
  #content {
    margin-top: 7rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .hero h2 {
    font-size: 6rem;
    line-height: 4rem;
    margin-top: 2rem;
    font-weight: bold;
  }

  .projects-header {
    background-color: #fff;
    color: $dark-water;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 2rem;
    font-size: 1.75rem;
    font-family: 'Montserrat', sans-serif;
  }

  .all-projects {
    flex-basis: 50rem;
    flex-grow: 1;
  }

  .project-section-link {
    flex-grow: 1;
    flex-basis: 20rem;
  }

  .project-description {
    height: 2.5rem;
  }

  .sidebar {
    flex-basis: 10rem;
    background-color: #fff;
    padding: 0.5rem 1.5rem 0 0;
    text-align: right;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    nav ul {
      flex-direction: column;
      li {
        margin-bottom: 1rem;
      }
      a {
        background-color: #fff;
        border: 0;
        color: #333;
        text-decoration: underline;
      }
    }
  } 
}





