// Place all the styles related to the Pledges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Unica+One|buntu:400,500,700|Montserrat:400,500,600,800');
@import "colors";

.pledges-header {
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  color: $dark-water;
  text-align: center;
  a {
    color: $cool-forest;
    display: block;
    font-weight: 600;
    font-size: 1.1rem;
  }
}

.all-pledges-list {
  padding: 1rem;
  list-style: none;
  counter-reset: pledges-counter;
  min-height: calc(100vh - 23rem);
  li {
    counter-increment: pledges-counter;
    line-height: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    &:before {
      content: counter(pledges-counter) "";
      font-family: 'Unica One', cursive;
      font-weight: bold;
      background-color: $cool-forest;
      color: $cream;
      border-radius: 50%;
      display: flex;
      width: 2rem;
      height: 2rem;
      justify-content: center;
      align-items: center;
    }
  }
}

.pledge-list-item {
  width: calc(100% - 2rem);
  p {
    padding-left: 1rem;
  }
  strong {
    font-weight: 600;
  }
}

.pledged-time {
  text-align: right;
  font-size: 0.75rem;
  margin-top: 1rem;
}

.no-pledges {
  padding: 1rem;
  min-height: calc(100vh - 23rem);
}

@media screen and (orientation:landscape) {
  .all-pledges-list {
    min-height: auto;
  }
}

@media screen and (min-width: 64rem) {
  .pledges-header {
    width: 100%;
  }

  .all-pledges-list {
    min-height: calc(100vh - 20rem);
    li {
      line-height: 1.5rem;
    }
  }
}
