@import "colors";

.single-project-header {
  height: 12rem;
  position: relative;
  background-position-y: center;
  background-size: cover;
  padding-top: 5rem;
  h2 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-top: 0.05rem solid #fff;
  }
}

.single-project-description-wrapper {
  padding: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  min-height: calc(100vh - 29rem);
  p {
    margin: 1rem 0;
    color: $dark-water;
    line-height: 1.2rem;
    strong {
      font-weight: 600;
    }
  }
}

.single-project-description {
  font-style: italic;
}

.project-website {
  color: $dark-water;
  font-weight: 600;
}

.pledges-amount a {
  font-weight: 600;
  text-decoration: none; 
  color: $dark-water;
  display: block;
  text-align: center;
  font-size: 1rem;
  margin: 2rem;
}

.ending-date {
  color: $vibrant-green;
  text-transform: uppercase;
  font-weight: normal;
}

.pledge-cta-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.pledge-cta {
  background-color: $vibrant-green;
  padding: 0.5rem;
  display: inline-block;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  &:hover {
    background-color: darken($vibrant-green, 15%);
  }
}

.bottom-links {
  display: flex;
  justify-content: center;
  a {
    text-decoration: none; 
    color: $dark-water;
    padding: 0 0.5rem;
    font-weight: 600;
    position: relative;
    color: $cool-forest;
    &:hover {
      color: darken($cool-forest, 20%);
    }
    &:not(:last-child):after {
      content: '|';
      position: absolute;
      top: -0.05rem;
      right: -0.2rem;
      color: $cool-forest;
    }
  }
}

@media screen and (min-width: 1024px) {
  .single-project-header {
    height: 20rem;
    flex-basis: 100%;
    padding-top: 7rem;
    margin-bottom: 1rem;
    h2 {
      padding: 1.5rem;
      font-size: 1.25rem;
    }
  }

  .single-project-description-wrapper {
    font-size: 0.9rem;
    flex-basis: 40rem;
    flex-grow: 1;
    .single-project-description {
      margin: 0;
    }
  }

  .pledges-amount {
    margin: 0;
    a {
      text-align: left;
      margin: 2rem 0 0 0;
    } 
  }

  .pledge-cta-wrapper {
    width: 15rem;
  }

  .bottom-links {
    justify-content: flex-start;
    a {
      padding: 0 1rem 0 0;
      &:not(:last-child):after {
        right: 0.3rem;
      }
    }
  }
}
