<header class="app-header">
  <h1>FUNdit</h1>
  <div id="toggle-dots" class="button_container">
    <span class="top"></span>
    <span class="top2"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
    <span class="bottom2"></span>
  </div>
  <div id="overlay" class="overlay">
    <div class="overlay-menu">
      <ul>
        <li>Sign In</li>
        <li>Sign Up</li>
      </ul>
    </div>
  </div>  
</header>
